#wrapper {
	position: relative;
	display: flex;
	margin: 2.5vh 5vw;
}

#wrapper > .page-container {
	width: 100%;
    margin-bottom: 15px;
	background-color: #f4f4f4;
	transition: 0.7s;
}

h1, h2, h3, h4, h5, h6 { color: #333; }

pre {
	font-family: monospace;
	white-space: pre;
	margin: 10px 0;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	text-align: left;
	padding: 5px 10px;
}

form {
	width: 380px;
	margin: auto;
}

.center {
	display: block;
	text-align: center;
}
